:root {
    --green-darker: #215c48;
    --green-dark: #307351;
    --green-light: #53a77d;
    --red-darker: #cf4a88;
    --red-dark: #E75A7C;
    --red-light: #ff587f;
    --blue-darker: #374eb6;
    --blue-dark: #4472CA;
    --blue-light: #558bf1;
    --yellow-darker: #e49733;
    --yellow-dark: #FFBF46;
    --yellow-light: #ffc861;
    --purple-darker: #8a7ab6;
    --purple-dark: #9593D9;
    --purple-light: #a6b3eb;
    --orange-darker: #dd5d13;
    --orange-dark: #EC7D10;
    --orange-light: #f79e18;
    --brown-darker: #836846;
    --brown-dark: #918450;
    --brown-light: #989c5b;
    --dark-darker: rgba(0, 0, 0, 0.3);
    --dark: rgba(0, 0, 0, 0.1);
    --dark-bright: rgba(0, 0, 0, 0.05);
    --light-darker: rgba(100, 100, 100, 0.05);
    --light: rgba(100, 100, 100, 0.1);
    --light-bright: rgba(100, 100, 100, 0.3);
    --text-dark: #f5faf6;
    --text-darker: #eef5f0;
    --text-light: #111;
    --text-lighter: #000;
    --gray-light: rgba(0, 0, 0, 0.075);
    --gray-dark: rgba(255, 255, 255, 0.075);
    --theme-accent: var(--theme-green);
    --light-solid: #f5f5f5;
    --dark-solid: #1a1a1a;
  }

:root[data-theme="light"] {
  
    --theme-green: var(--green-light);
    --theme-green-hover: var(--green-dark);
    --theme-red: var(--red-light);
    --theme-red-hover: var(--red-dark);
    --theme-blue: var(--blue-light);
    --theme-blue-hover: var(--blue-dark);
    --theme-yellow: var(--yellow-light);
    --theme-yellow-hover: var(--yellow-dark);
    --theme-purple: var(--purple-light);
    --theme-purple-hover: var(--purple-dark);
    --theme-orange: var(--orange-light);
    --theme-orange-hover: var(--orange-dark);
    --theme-brown: var(--brown-light);
    --theme-brown-hover: var(--brown-dark);
    --background: var(--light);
    --background-secondary: var(--light-darker);
    --background-light: var(--light-bright);
    --text: var(--text-light);
    --text-secondary: var(--text-lighter);
    --theme-accent: var(--theme-green);
    --theme-accent-hover: var(--theme-green-hover);
    --gray-mixed: var(--gray-light);
    --solid: var(--light-solid);
}

:root[data-theme="dark"] {
  
    --theme-green: var(--green-dark);
    --theme-green-hover: var(--green-darker);
    --theme-red: var(--red-dark);
    --theme-red-hover: var(--red-darker);
    --theme-blue: var(--blue-dark);
    --theme-blue-hover: var(--blue-darker);
    --theme-yellow: var(--yellow-dark);
    --theme-yellow-hover: var(--yellow-darker);
    --theme-purple: var(--purple-dark);
    --theme-purple-hover: var(--purple-darker);
    --theme-orange: var(--orange-dark);
    --theme-orange-hover: var(--orange-darker);
    --theme-brown: var(--brown-dark);
    --theme-brown-hover: var(--brown-darker);
    --background: var(--dark);
    --background-secondary: var(--dark-darker);
    --background-light: var(--dark-bright);
    --text: var(--text-dark);
    --text-secondary: var(--text-darker);
    --theme-accent: var(--green-dark);
    --theme-accent-hover: var(--green-darker);
    --gray-mixed: var(--gray-dark);
    --solid: var(--dark-solid);
}

html, body {
    -ms-overflow-style: none; 
    background: transparent;
    color: var(--text);
    margin: 0px;
}
@font-face {
    font-family: 'Unbounded'; 
    src: url('assets/fonts/Unbounded-VariableFont_wght.ttf'); 
  }
@font-face {
    font-family: 'Lora'; 
    src: url('assets/fonts/Lora-VariableFont_wght.ttf'); 
  }
@font-face {
  font-family: 'UnifrakturCook';
  src: url('assets/fonts/UnifrakturCook-Bold.ttf');
}
@font-face {
  font-family: 'Inter';
  src: url('assets/fonts/Inter.ttf');
}
.unbounded-display {
    font-family: 'Unbounded';
    font-weight: 900;
}
.unifraktur-display {
  font-family: 'UnifrakturCook';
  font-weight: 900;
}
.lora-text {
  font-family: 'Lora';
  font-weight: 500;
}
.lora-display {
  font-family: 'Lora';
  font-weight: 900;
}
.inter-text {
  font-family: 'Inter';
  font-weight: 400;
}
::-webkit-scrollbar {
    display: none;
}

.content {
  margin: 0 3.25rem;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 900;
  color: var(--text);
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.75rem;
}
h4 {
  font-size: 1.5rem;
}
hr {
  border: none;
  border-top: 1px solid var(--text);
  margin: .5rem 0;
}
a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: underline;
  color: inherit;
}
.external-link {
  color: var(--theme-accent) !important;
  text-decoration: none;
  cursor: pointer;
}

.external-link:hover {
  text-decoration: dotted underline 2px;
  text-decoration-color: var(--theme-blue) !important;
}

.nation-link {
  color: var(--theme-accent) !important;
  text-decoration: none;
  font-weight: 500;
}

.region-link {
  color: var(--theme-brown) !important;
  text-decoration: none;
  font-weight: 500;
}
.ranking-link {
  color: var(--theme-green) !important;
  text-decoration: none;
  font-weight: 500;
}
.bb-box {
  background: var(--background-secondary);
  border-radius: 10px;
  border: 1px solid var(--gray-mixed);
  padding: 1rem;
}
.bb-box::after {
  content: "";
  display: block;
  clear: both;
}
.bb-table {
  width: 100%;
  border-spacing: none;
  border: none;
}
.bb-table tbody tr {
  border: 1px solid var(--gray-mixed);
}
.bb-table tbody tr:first-child {
  border: none;
  background: var(--background-secondary);
  td {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 1px solid var(--gray-mixed);
    border-bottom: none;
  }
}
.bb-table tbody tr:last-child td {
  border: none !important;
}
.bb-table tbody td {
  border: none;
  border-bottom: 1px solid var(--gray-mixed);
  padding: .5rem 0;
}
.bb-table tbody {
  border: none;
}
.bb-table p {
  margin: 0;
  margin-left: 1rem;
}